<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="mt-2">Reset Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="col m-4">
      <form #form="ngForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
         
        </div>
               
        <button type="submit" (click)="ResetPassword()" class="btn btn-primary" >Reset Password</button>
      </form>

     
      
    </div>
    
  </div>

</ion-content>
